body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:white;
  background-color: #eef2f7; 
}

.CarCard {
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: calc(29.33% - 16px); 
  display: inline-block;
  box-sizing: border-box;
  margin-left: 50px;
}

.BlueIcon + .BlueIcon {
  margin-left: 120px; 
}

.ButtonLabel {
  border: 2px dotted #007BFF;
  padding: 5px 10px; 
  border-radius: 40px; 
  cursor: pointer;
  margin-left: 70px;
}

.RentButton {
  background-color: #0077b6; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
  border-radius: 25px;
}

.RentButton:hover { 
  background-color: #005b8e;
}

.BlueFavoriteIcon {
  color: skyblue; 
  margin-left: 70px;
  background-color: rgb(209, 231, 231);
  border-radius: 5px;
}

h1{
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.LocalGasStationIcon {
  display: inline-block;
  margin-left: 155px; 
  align-items: center;
}

.LocalGasStationIcon .MuiSvgIcon-root {
  color:#7bb3d3;
}
